<html lang="en-US">

<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Opinion</h2>
    <ul>
        <% for (var i=0; i<results[0].length; i++){ %>
            <li>
                <%= results[0][i].opinion %> :
                    <%= results[0][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Organization</h2>
    <ul>
        <% for (var i=0; i<results[1].length; i++){ %>
            <li>
                <%= results[1][i].info_organization %> :
                    <%= results[1][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Difficulty</h2>
    <ul>
        <% for (var i=0; i<results[2].length; i++){ %>
            <li>
                <%= results[2][i].is_difficult %> :
                    <%= results[2][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Ease</h2>
    <ul>
        <% for (var i=0; i<results[3].length; i++){ %>
            <li>
                <%= results[3][i].find_info_difficulty %> :
                    <%= results[3][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Weaknesses</h2>
    <ul>
        <% for (var i=0; i<results[4].length; i++){ %>
            <li>
                <%= results[4][i].weaknesses %> :
                    <%= results[4][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>colors</h2>
    <ul>
        <% for (var i=0; i<results[5].length; i++){ %>
            <li>
                <%= results[5][i].colors %> :
                    <%= results[5][i].count %>
            </li>
            <% } %>
    </ul>
</body>

</html>